body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-logo:hover {
  cursor: pointer;
}

.hero-text {
  background-color: #CA4246;
  background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.hero-text:hover{
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation {
  0% {
      background-size: 100%;
  }
  80% {
      background-size: 650%;
  }
  100% {
      background-size: 650%;
  }
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
}